version: "3.9"

services:
  mongo:
    image: mongo:latest
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_database_data:/data/db
  fastapi:
    image: document-data-capture:latest
    build: .
    container_name: document-data-capture
    ports: 
      - "80:80"
    volumes:
      - ./app:/code/app
    depends_on:
      - mongo
    command: fastapi run app/routes.py --port 80 --reload
    environment:
      MONGO_URI: ${MONGO_URI}
      DATABASE_NAME: ${DATABASE_NAME}
      DATABASE_PATH: ${DATABASE_PATH}
      GOOGLE_API_KEY: ${GOOGLE_API_KEY}
      COLLECTION_NAME: ${COLLECTION_NAME}

volumes: 
  mongo_database_data: